/* General styles */
body {
  background-color: #333;
  font-family: "Rubik", sans-serif; /* Set default font */
}

.jobs-list-container {
  max-width: 900px;
  margin: 20px auto;
}

.styyl {
  padding-bottom: 27px;
}

.mine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mine h2 {
  margin: 0;
  font-size: 30px;
  border-left: 4px solid #ff7707;
  padding-left: 20px;
  color: #ff7707;
}

.jobs-list-container .jobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.jobs-list-container .job {
  box-shadow: 0 4px 24px -8px rgb(13, 0, 0);
  padding: 24px;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 400ms ease;
  background-color: #ff7707;
}

.jobs-list-container .job:hover {
  transform: scale(1.03);
}

.jobs-list-container .job-title {
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
  color: #fff;
}

.jobs-list-container .details-btn,
.jobs-list-container .apply-btn,
.jobs-list-container .post-job {
  text-decoration: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  transition: all 400ms ease;
}

.jobs-list-container .details-btn:hover,
.jobs-list-container .apply-btn:hover,
.jobs-list-container .post-job:hover {
  background: #ff7707;
  color: #fff;
}

.jobs-list-container .job-search {
  width: 100%;
  padding: 12px 24px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 20px;
}

@media (max-width: 940px) {
  .jobs-list-container .jobs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

@media (max-width: 640px) {
  .jobs-list-container .jobs {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }
}

/* Quiz form styles */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

form textarea.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing */
}

form input[type="radio"] {
  margin-right: 5px;
  /* Add more styles for radio buttons if needed */
}

form input[type="submit"] {
  background-color: #ff7707;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #ff9900;
}
