body{
    background-image: url("../image/hero.jpg") ;
    background-attachment: fixed;
    color:#fff;
	text-align:center;

}
header>a{
    font-size: 13pt ;
    vertical-align:50%;
}

.header {
    display: flex;
    justify-content: space-between; /* Align items to the left and right */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Optional: Add padding to the header */
}

.logo {
    font-size: 30px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    color: #fffefe; /* Set the text color */
    text-decoration: none; /* Remove underline */
	
}

.login-logout {
    display: flex;
    align-items: center; /* Center buttons vertically */
}

.login,
.logout {
    margin-left: 10px; /* Optional: Add margin between buttons */
	font-size: 13pt ;
}

form{
	padding:20px;
	padding-top:60px;
	margin:auto;
    margin-top: 100pt;
	text-align:center;
	width:500px;
}
a{
	padding:14px;
	background-color:#E60;
	text-decoration:none;
	color:#FFF;
	vertical-align:middle;
	margin-left:20px;
    margin-right:20px;
	border-radius:6px;
    font-size: 20pt ;
}
a:hover{
	background-color:#F80;
}


/* body{
    background-image: url("../images/hero.jpg") ;
    background-attachment: fixed;
    color:#fff;
	text-align:center;

}
header>a{
    font-size: 13pt ;
    vertical-align:50%;
}
 
header{
    text-align:left;
	padding:20px;
	background-color:#555;
	color:#888;
	font:36pt arial;
	border-bottom:solid 1px #888;

}
form{
	padding:20px;
	padding-top:50px;
	margin:auto;
    margin-top: 100pt;
	text-align:center;
	width:500px;
}
a{
	padding:14px;
	background-color:#E60;
	text-decoration:none;
	color:#FFF;
	vertical-align:middle;
	margin-left:20px;
    margin-right:20px;
	border-radius:6px;
    font-size: 20pt ;
}
a:hover{
	background-color:#F80;
} */

